.app {
  height: 100%;
  pointer-events: none;
  /* background: hsl(0, 0%, 2%); */
}

.header {
  font-family: din-2014;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: hsl(0, 0%, 98%);
}