.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100%;
  user-select: none;
}

.project {
  height: 200px;
  width: 200px;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid white;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.projectName {
  margin-bottom: 20px;
}

.projectDesc {
  font-size: 1rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 50%;
}
