.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  user-select: none;
  font-size: 1rem;
  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 50px;
  border: 1px solid white;
  height: 30%;
  min-height: 150px;
}